{% extends "basic.html" %}
{% block title %}
Blog | BlogNow
{% endblock title %}
{% load static %}
{% block body %}
    <div class="container" style="margin-top:50px;">
        <h3 >Popular Blogs on BlogNow</h3>
        {% for post in page_obj %}
        <div class="row mb-0">
            <div class="col-sm-6 mt-0">
                <a href="{{post.blog_slug}}">
                <div class="blog-title">
                    <h4>{{post.blog_title}}</h4>
                </div>
                </a>
                <div class="time-author">
                    <p><span class="glyphicon glyphicon-time" style="margin:0px 5px 0px 0px;"> </span>{{post.blog_time}} by {{post.blog_author}}</p>
                </div>
                <div class="blog-content">
                    <p>{{post.blog_content|truncatechars:200}}</p>
                </div>
                <div class="read-more">
                <a href="{{post.blog_slug}}"><button class="btn btn-primary" >Read more</button></a>
                </div>
            </div>
            <div class="col-sm-6">
                <a href="{{post.blog_slug}}">
                <img src="media/{{post.blog_thumbnail}}" alt="blog" width="100%"  height="230">
                </a>
            </div>
            
        </div>
        <br>
        {% endfor %}
    </div>
     <!-- show pagination  -->

<nav aria-label="Page navigation example" class="container">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a href="?page=1">&laquo; first</a>
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>

      </a>
    </li>
    {% endif %}

    {% for page_n in page_obj.paginator.page_range %}
    
    <li class="page-item"><a class="page-link" href="?page={{page_n}} ">{{page_n}}</a></li>
    {% endfor %}
    {% if page_obj.has_next %}  
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>



{%endblock body %}